<!--
<div class="login">
	<div class="login-content">
		<form class="login-form">
			<div class="row collapse">
				<div class="small-3 columns">
					<span class="prefix">
						<i class="fa fa-user"></i>
					</span>
				</div>
				<div class="small-9 columns">
					<input type="email" placeholder="Email"/>
				</div>
			</div>
			<div class="row collapse">
				<div class="small-3 columns">
					<span class="prefix">
						<i class="fa fa-lock"></i>
					</span>
				</div>
				<div class="small-9 columns">
					<input type="password" placeholder="Password"/>
				</div>
			</div>
			<div class="row">
				<div class="small-6 columns left-collapse">
					<button ui-sref="main" class="button expand">Login</button>
				</div>
				<div class="small-6 columns right-collapse">
					<button id="registerModal" class="button expand">Register</button>
				</div>
			</div>
		</form>
	</div>
</div>
-->

<form>
	<input ng-model="newUser.email" type="text"/>
	<input ng-model="newUser.password" type="password"/>
	<button ng-click="login(newUser.email, newUser.password)" class="button">Login</button>
	<button ng-click="register(newUser.email, newUser.password)" class="button">Register</button>
</form>
